<% return '' unless @all_issues_count %>
<div id="issue_badge">
  <li class="starting_point">
    <a style="cursor: pointer" onclick="displayBadgeContents('<%= issue_badge_load_badge_contents_path %>');" id="link_issue_badge">
      <span id="issue_badge_number" class="badge"><%= @all_issues_count %></span>
    </a>
  </li>
</div>
