<%-
base_url = Redmine::Utils.relative_url_root
content_url = base_url + "/issue_badge/load_badge_contents"
polling_url = base_url + "/issue_badge/issues_count"
polling_option = Setting.plugin_redmine_issue_badge['enabled_polling'] || false
%>
<% if @all_issues_count %>
    <div id="issue_badge">
      <li class="starting_point">
        <a style="cursor: pointer" onclick="display_badge_contents('<%= content_url %>');" id="link_issue_badge">
          <span id="issue_badge_number" class="badge"><%= @all_issues_count %></span>
        </a>
      </li>
    </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    change_badge_location();
  });
  $(window).resize(function () {
    change_badge_location();
  });

</script>

<% if polling_option == 'true' %>
    <script type="text/javascript">
      $(document).ready(function () {
        var status = $('#issue_badge_number'),
            poll = function() {
              $.ajax({
                url: '<%= polling_url %>',
                dataType: 'json',
                type: 'get',
                success: function(data) {
                  if (typeof data.all_issues_count !== "undefined" && data.status == true) {
                    status.text(data.all_issues_count);
                  } else {
                    console.log("[IssueBadge] Error. Can't parse polling data.");
                    status.text("?");
                    clearInterval(pollInterval);
                  }
                },
                error: function() {
                  console.log("[IssueBadge] Error. Ajax request failed.");
                  clearInterval(pollInterval);
                }
              });
            },
            pollInterval = setInterval(function() {
              poll();
            }, 60000); // 1min
        poll();
      });
    </script>
<% end %>