/*---- Plugin Settings -----*/
div.checkbox label {
  cursor: pointer;
  float: none;
  margin-left: 0px;
}

/*---- Plugin Settings -----*/
/*---- Badge and Notification area -----*/
#issue_badge {
  float: right;
}

#issue_badge > li {
  position: relative;
}

#issue_badge > li > div {
  position: absolute;
  display: none;
}

#issue_badge > li > div {
  min-width: 210px;
  max-width: 250px;
  position: absolute;
  display: block;
  top: 20px;
  left: 5px;
  color: black;
  background: #ffffff;
  padding: 0px;
  /* font-size: 0.8em; */
  line-height: 1.5;
  z-index: 300;
  border: 1px solid #c9c9c9;
  -webkit-box-shadow: 3px 3px 5px -2px #0d0a0d;
  -moz-box-shadow: 3px 3px 5px -2px #0d0a0d;
  box-shadow: 3px 3px 5px -2px #0d0a0d;
}

#issue_badge > li > div a, a:link, a:visited {
  font-weight: normal;
}

#issue_badge a, #issue_badge a:link, #issue_badge a:visited {
  color: #169;
  text-decoration: none;
}

div.issue_badge_content {
  white-space: normal;
  margin-bottom: 4px;
  border-bottom: 1px solid #c9c9c9;
}

div.issue_badge_content .metadata {
  color: #999;
  margin-top: 2pt;
  text-align: right;
}

#issue_badge .badge {
  display: inline-block;
  min-width: 10px;
  padding: 2px 3px 3px 3px;
  /* font-weight: 700; */
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #ee2630;
  border-radius: 7px;
  position: relative;
  bottom: 0;
  /* font-weight: normal; */
}


#issue_badge .badge.red {
  background-color: #ee2630;
}

#issue_badge .badge.green {
  background-color: #4eb97e;
}

.arrow_box {
  position: relative;
  background: #ffffff;
  border: 1px solid #c9c9c9;
}

.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 6px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 4px;
  margin-left: -4px;
}

.arrow_box:before {
  border-color: rgba(143, 166, 181, 0);
  border-bottom-color: #c9c9c9;
  border-width: 5px;
  margin-left: -5px;
}

div.notifications > div {
  padding: 7px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid #c9c9c9;
}

div.notifications > div.header {
  font-weight: bold;
  background: #f6f5f5;
  white-space: normal;
}

div.notifications > div.footer {
  text-align: right;
  padding-right: 0;
  background: #f6f5f5;
}

/*---- Use ticket_go png as icon -----*/
#issue_badge_contents > div.no-issue {
  background-image: url("../images/coffee.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 80%;
  height: 50px;
  opacity: 0.5;
  border-bottom: none;
}

#issue_badge_contents > div.contextual {
  white-space: normal;
  line-height: 1.2em;
  padding: 4px;
  /* font-size: 0.6em; */
  opacity: 0.4;
  float: none;
}

div.contents_wrapper::-webkit-scrollbar {
  width: 10px;
}

div.contents_wrapper::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}

div.contents_wrapper::-webkit-scrollbar-thumb {
  background: rgb(223, 222, 222);
  border-radius: 10px;
  box-shadow: none;
}

#issue_badge_contents > div.contents_wrapper {
  width: 220px;
  overflow-y: auto;
  max-height: 260px;
  padding-bottom: 10px;
}

#issue_badge_contents > div.contents_wrapper > div.contents_wrapper_inner {
  padding-bottom: 10px;
}

#issue_badge_contents > div.footer > a {
  background-position: 0% 50%;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 3px;
  background-image: url("../../../images/ticket_go.png");
}

#issue_badge_contents > div.error_message {
  white-space: normal;
  color: darkred;
}

#issue_badge_contents a {
  background-position: 0% 40%;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 3px;
}

#issue_badge_contents a.users {
  background-image: url("../../../images/user.png");
}

#issue_badge_contents a.groups {
  background-image: url("../../../images/group.png");
}

@media (max-width: 899px) {
  #issue_badge > li {
    list-style-type: none;
  }
  #issue_badge .badge {
    /* font-size: 1.2em; */
    font-weight: bold;
    background-color: #4eb97e;
    border-radius: 18px;
    top: 10px;
    padding: 8px;
    margin: 6px 10px;
    z-index: 1000;
  }
  #issue_badge > li > div {
    min-width: 200px;
    max-width: 230px;
    position: absolute;
    display: block;
    top: 52px;
    left: -100px;
    width: 180px;
  }
  .arrow_box:after, .arrow_box:before {
    left: 120px;
  }
  div.notifications > div.footer {
    padding-right: 6px;
  }

  #issue_badge_contents > div.contents_wrapper {
    width: 210px;
  }
}
