/*---- Plugin Settings -----*/
form[action="/settings/plugin/redmine_issue_badge"] > input[type="submit"] {
  // display: none;
}

div.checkbox label {
  cursor: pointer;
  float: none;
  margin-left: 0px;
}
/*---- Plugin Settings -----*/

/*---- Badge and Notification area -----*/
#issue_badge {
  float: right;
  > li {
    position: relative;
    > div {
      position: absolute;
      display: none;
    }
  }
}

#issue_badge > li > div {
  max-width: 230px;
  position: absolute;
  display: block;
  top: 18px;
  left: 5px;
  color: black;
  background: #ffffff;
  padding: 0px;
  font-size: 0.8em;
  line-height: 1.5;
  z-index: 300;
  border: 1px solid #c9c9c9;
  -webkit-box-shadow: 3px 3px 5px -2px rgba(13,10,13,1);
  -moz-box-shadow: 3px 3px 5px -2px rgba(13,10,13,1);
  box-shadow: 3px 3px 5px -2px rgba(13,10,13,1);
}

#issue_badge > li > div a, a:link, a:visited {
  font-weight: normal;
}

#issue_badge a, #issue_badge a:link, #issue_badge a:visited {
  color: #169;
  text-decoration: none;
}

div.issue_badge_content {
  .metadata {
    color: #999;
    margin-top: 2pt;
    text-align: right;
  }
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 2px 3px 3px 3px;
  font-size: 0.6em;
  /* font-weight: 700; */
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: red;
  border-radius: 7px;
  position: relative;
  /* font-weight: normal; */
}

.arrow_box {
  position: relative;
  background: #ffffff;
  border: 1px solid #c9c9c9;
}

.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 6px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 4px;
  margin-left: -4px;
}

.arrow_box:before {
  border-color: rgba(143, 166, 181, 0);
  border-bottom-color: #c9c9c9;
  border-width: 5px;
  margin-left: -5px;
}

div.notifications > div {
  padding: 7px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid #c9c9c9;
}

div.notifications > div.header {
  font-weight: bold;
  background: rgb(246, 245, 245);
}

div.notifications > div.footer {
  text-align: right;
  padding-right: 0;
  background: rgb(246, 245, 245);
}

/*---- Use ticket_go png as icon -----*/
#issue_badge_contents {
  > div.no-issue {
    background-image: url('../images/coffee.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80%;
    height: 50px;
    opacity: 0.5;
    border-bottom: none;
  }

  > div.contextual {
    white-space: nowrap;
    line-height: 1.2em;
    padding: 4px;
    font-size: 0.6em;
    opacity: 0.4;
    float: none;
  }

  > div.footer {
    > a {
      background-position: 0% 50%;
      background-repeat: no-repeat;
      padding-left: 20px;
      padding-top: 2px;
      padding-bottom: 3px;
      background-image: url('../../../images/ticket_go.png');
    }
  }
  a {
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;

    &.users {
      background-image: url('../../../images/user.png');
    }

    &.groups {
      background-image: url('../../../images/group.png');
    }
  }
}
@media (max-width: 899px) {
  #issue_badge > li {
    list-style-type: none;
  }

  #issue_badge .badge {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #4eb97e;
    border-radius: 18px;
    top: 10px;
    padding: 8px;
    margin: 6px 10px;
    z-index: 1000;
  }

  #issue_badge > li > div {
    max-width: 230px;
    position: absolute;
    display: block;
    top: 54px;
    left: -100px;
    width: 180px;
  }

  .arrow_box:after, .arrow_box:before {
    left: 120px;
  }

  div.notifications > div.footer {
    padding-right: 6px;
  }
}